<header class="header-nav header-white fixed-header" style="left:0;right:0">
    <div class="fixed-header-bar">
      <div class="">
        <div class="navbar navbar-default navbar-expand-lg main-navbar">
          <div class="navbar-brand">
            <a href="index.html" title="hear Me Read" class="logo">
              <img src="assets/img/Logo/twitter-5.svg" class="image" alt="hear Me Read" title="" style=" height: 57px;">
  
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapse-toggle">
            <ul class="nav navbar-nav  topnav" style="  display: flex;
            margin-left: 42%;
            justify-content: center;
            width: 100%">
  
  
              <li ><a class="nav-link" href="#home" >Home</a></li>
              <li style="margin-left: 20px;"><a class="nav-link" href="Home#AboutUs">About Us</a></li>
  
              <li style="margin-left: 20px;"><a class="nav-link" routerLink="/Twitter-analises">Analyse</a></li>
  
  
            </ul>
  
          </div>
          <div class="extra-menu d-flex align-items-center">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
              data-target="#navbar-collapse-toggle" aria-expanded="false">
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
      </div>
    </div> 
  </header>
  
  
  
  
  <section id="home" class="Firstdiv"
    style="left:0;right:0;margin-top: 82px; background: rgba(236, 240, 243, 0.5); backdrop-filter: blur(10px);">
  
  
    <div style="padding: 13px  16%;">
      <!-- start tab content -->
  
      <div class="row">
        <div class="col-12 homeheader">
            <h1 style="margin-top: 6%;">Mood Prediction from Tweets</h1>
        </div>
  
      </div>
      <div class="row">
        <div class="col-12">
          <p> Make the most of your personal book collection and enhance the way you share stories with your friends, family, and classmates.</p>
        </div>
  
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn" style="color: white;
             background-color: #FF5E59;
             margin-top: 18px;
              width: 151px;
              height: 35px;
            border-radius: 25px;" routerLink="/Twitter-analises">Analize</button>
        </div>
  
      </div>
      <div class="row mt-3">
        <div class="col-12">
   <img src="assets/img/banner/claudio-schwarz-purzlbaum-FMJAYeRwtDY-unsplash.jpg" alt="">
        </div>
  
      </div>
      
    </div>
  
  
  
  </section>
  
  
  

  <section id="AboutUs" class="Thirddiv">
  
  
    <div>
      <div class="row">
        <div class="col-md-6" style="margin-top: auto; margin-bottom: auto;padding: 7%;">
          <h3 class="h1 m-20px-b p-20px-b theme-after after-50px" style="color: #20354E;"> <u style="text-decoration-color:red">About</u></h3>
          <p class=" theme-after after-50px" style="color: #94A3B4;">Inspired by a father’s fond memories of reading to his daughter, the HMR team rallied together to create a platform where friends, family, loved ones, and classmates alike can read and listen to one another.  The mission of HMR is to enrich people’s lives with the joys of storytelling.  We hope this app brings every subscriber a level of joy that can be shared with everyone in their network!</p>
        </div>
        <div class="col-md-6" style="padding: 2%;">
          <img src="assets/img/banner/szabo-viktor-KbU56hwagYg-unsplash.jpg" class="image" alt="hear Me Read" title="" style="padding: 5% 3% 3% 6%">
  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="padding: 2%;">
          <img src="assets/img/banner/0_dtiuqS8kNB66Mp5P.png" class="image" alt="hear Me Read" title="" style="padding: 8%;">
        </div>
        <div class="col-md-6" style="margin-top: auto; margin-bottom: auto;padding: 7%;">
          <h3 class="h1 m-20px-b p-20px-b theme-after after-50px" style="color: #20354E;"> <u style="text-decoration-color:red">More Info.</u></h3>
  
          <p class=" theme-after after-50px" style="color: #94A3B4;">A perfect way to share your favorite stories without having to commit to several hours of audiobooks.  On top of that, get to hear those stories from the people you know and love!  What could be better?</p>
  
        </div>
      </div>
    </div>
  </section>
  <div class="d-flex flex-column h-100">
   
  
  <footer class="dark-bg footer" style="left:0;right:0">
    <div class="row vertical-divider" style="padding: 33px;">
      <div class="col-md-4" style="padding-left: 10%;">
  
        <div class="">
          <img src="assets/img/Logo/twitter-5.svg" style="    height: 57px;" title="" alt="">
        </div>
        <p style="color:white">Follow us</p>
        <div class="row">
          <a href="#"> </a>
          <a href="#"> </a>
          <a href="#"> </a>
  
        </div>
  
      </div>
      <div class="col-md-4" style="padding-left: 10%;">
  
        <div class="">
          <h4>For You</h4>
        </div>
        <p style="color:white">Plan</p>
        <p style="color:white">About us</p>
  
  
      </div>
      <div class="col-md-4" style="padding-left: 10%;">
  
        <div class="">
          <h4>Customer Support</h4>
        </div>
        
        <p style="color:white"> 1234567890</p>
        <p style="color:white"> support@hello.com</p>
  
  
      </div> 
  
  
  
  
  
  
  
    </div>
  
  
  </footer>
  